:root {
  --margin-1: .1rem;
  --fontColor-1: darkblue;
  --fontColor-2: rgba(60, 60, 200, .8);
  --fontColor-3: #5f0478;
  --bgColor-1: antiquewhite;
  --bgColor-2: #eef7ee;
  --bgColor-3: #fafaed;
  --bgColor-4: #8b137d;
}

body {
  /* margin: 0;   */
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

  /* 360 x 740 (Samsung Galaxy S8+ */
  h2 {
    color: #57b;
    margin: 1rem;
    font-size: 1.7rem;
    font-style: italic;
  }

  h3 {
    font-size: 1.33rem;
    color: var(--fontColor-1);
    margin: .35rem;
  }

  h4 {
    margin-bottom: .35rem;
    color: var(--fontColor-1);
  }

}

.cntTotal {
  display: flex;
  flex-direction: column;
  height: 98vh;
  background-color: #c8d0e0;
  border-radius: 1.5vh;
  margin-bottom: 1rem;
}

.cntHead {
  display: flex;
  box-sizing: border-box;
  margin: 1vh .5vh .25vh;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  border: .5px gray dashed;
}

.cntH1 {
  width: 50%;
  background: whitesmoke;
}

.cntFig-1 {
  width: 25%;
  background-color: whitesmoke;
}

.separatorBlock {
  width: 25%;
  background-color: ivory;
}

form {
  background-color: #fff;
  margin: 1vw;
  padding: .5vh .5vh;
  /* border-color: var(--fontColor-1); */
}

fieldset {
  background-color: #e9f0f9;
  margin: .5rem;
  border-color: white;
}

.age,
.country {
  display: flex;
  align-items: baseline;
}

.quantity {
  width: 2.5em;
  margin-left: .5rem;
}

select {
  margin-left: .5rem;
  width: 4em;
}

.addInf {
  background-color: whitesmoke;
  border-color: white;
}

textarea {
  border: .1rem solid #abc;
  width: 40%;
  height: 10vh;
  background-color: white;
  margin-top: calc(5*var(--margin-1));
}

.formFooter {
  display: flex;
  padding: .5em;
}

/* -------- 820 x 1180 (iPad Air) ----------- */

@media screen and (min-width: 820px) {
  h2 {
    color: #b75;
    margin: 1rem;
    font-size: 1rem;
    font-style: italic;
  }
}