:root {
  --fontColor-1: darkblue;
  --fontColor-2: rgba(60, 60, 200, .8);
  --fontColor-3: #5f0478;
  --bgColor-1: antiquewhite;
  --bgColor-2: #eef7ee;
  --bgColor-3: #fafaed;
  --bgColor-4: #8b137d;
}

body {
  background: var(--bgColor-3);
  padding-left: 15px;
}

header {
  background-color: var(--bgColor-1);
  border: 5px solid white;
}

h2 {
  color: var(--fontColor-3);
}

h3 {
  color: var(--fontColor-1);
}

h3.additionally {
  color: #5f0478;
}

h4 {
  margin-bottom: .35rem;
  color: var(--fontColor-1);
}

.cntHead {
  width: 25%;
  display: flex;
  box-sizing: border-box;
  flex-wrap: wrap;
  justify-content: space-between;
  }
  
  .cntImgLeft {
    border: .15rem dotted #abc;
    border-radius: 28%;
    
  }
.cntFig-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 7vw;
  border: .15rem dotted #abc;
  border-radius: 28%;
  background-color: var(--bgColor-2);
  padding: 1rem;
  /* transform: rotate(1.5deg); */
}

.fig-1,
.fig-2,
.fig-3,
.fig-4,
.fig-5 {
  position: relative;
  width: 50%;
  height: 25%;
  /* padding: .5rem; */
  border-radius: 50%;
  opacity: .5;
  background-color: var(--fontColor-3);
}

.fig-2 {
  top: -25%;
  transform: rotate(-90deg);
}

.fig-4 {
  top: -25%;
  transform: rotate(-90deg);
}

form {
  background-color: var(--bgColor-2);
  width: 25%;
  padding: 1.5vh;
  padding-right: 3vh;
  border-radius: 3%;
  border: .1rem solid #abc;
  box-shadow: 4px 2px 2px 1px rgba(0, 0, 255, .2);
}

.user {
  margin-top: .5rem;
}

fieldset {
  padding-bottom: 1.5rem;
  border-radius: 3%;
  border: .1rem solid #abc;
  box-shadow: 4px 2px 2px 1px rgba(0, 0, 255, .2);
}

input {
  margin-bottom: .5rem;
}


.quantity {
  width: 1.6rem;
  margin-left: .5rem;
}

div.age {
  display: flex;
  align-items: baseline;
}

.country {
  display: flex;
  align-items: baseline;
}

select {
  margin-left: .35rem;
}

textarea {
  border: .1rem solid #abc;
  width: 62%;
  height: 10vh;
}

label {
  color: var(--fontColor-1);
}

.btn {
  color: var(--fontColor-1);
  width: 5rem;
  border: solid .1rem;
  border-radius: 10%;
  padding: .2rem;
}